In [1]:
import json
import pandas as pd

In [2]:
data_df = pd.read_json(open('world_bank_projects.json'))

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. What are top 10 sectors with projects?
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [3]:
#1
data_df.countryshortname.value_counts()[:10]

Indonesia             19
China                 19
Vietnam               17
India                 16
Yemen, Republic of    13
Nepal                 12
Bangladesh            12
Morocco               12
Africa                11
Mozambique            11
Name: countryshortname, dtype: int64

In [16]:
#2
all_data = []
for row in data_df.iterrows():
    for item in row[1]["sector"]:
        all_data.append(item)

pd.DataFrame(all_data).Name.value_counts().head(10)

Other social services                                       106
Central government administration                            82
Sub-national government administration                       75
General agriculture, fishing and forestry sector             65
Health                                                       63
General public administration sector                         51
Rural and Inter-Urban Roads and Highways                     44
General water, sanitation and flood protection sector        39
Agricultural extension and research                          38
Public administration- Agriculture, fishing and forestry     36
Name: Name, dtype: int64

In [17]:
#3
all_data = {}
for row in data_df.iterrows():
    ind = 0
    for item in row[1]["mjtheme_namecode"]:
        all_data[str(row[0]) + "_" + str(ind)] = item
        ind += 1

    
theme_data = pd.DataFrame.from_records(all_data).transpose()

In [18]:
theme_data.code.value_counts()[:10]

11    250
10    216
8     210
2     199
6     168
4     146
7     130
5      77
9      50
1      38
Name: code, dtype: int64

In [19]:
#4
def fill_in_name(x):
    x.loc[:, "name"] = x["name"].value_counts().index[0]
    return x

theme_data.groupby('code').apply(lambda x: fill_in_name(x)).head()

      code                                          name
0_0      8                             Human development
0_1     11  Environment and natural resources management
100_0   11  Environment and natural resources management
100_1   10                             Rural development
100_2   10                             Rural development