# XML example and exercise
****
+ study examples of accessing nodes in XML tree structure  
+ work on exercise to be completed and submitted
****
+ reference: https://docs.python.org/2.7/library/xml.etree.elementtree.html
+ data source: http://www.dbis.informatik.uni-goettingen.de/Mondial
****

In [6]:
from xml.etree import ElementTree as ET

## XML example

+ for details about tree traversal and iterators, see https://docs.python.org/2.7/library/xml.etree.elementtree.html

In [2]:
document_tree = ET.parse('mondial.xml' )

In [3]:
root = document_tree.getroot()

In [4]:
type(root)

xml.etree.ElementTree.Element

In [5]:
print(root.getchildren()[0])
print(type(root.getchildren()[0]))
print(root.iter())
print(type(root.iter()))

<Element 'country' at 0x10b973ef8>
<class 'xml.etree.ElementTree.Element'>
<_elementtree._element_iterator object at 0x10dbc1830>
<class '_elementtree._element_iterator'>

In [1]:
# ET.tostring(root)

In [2]:
# # print names of all countries
# for child in document_tree.getroot():
#     print(child.find('name').text)

In [3]:
# # print names of all countries and their cities
# for element in document_tree.iter(tag='country'):
#     print('* ' + element.find('name').text + ':')
#     capitals_string = ''
#     for subelement in element.iter(tag='city'):
#         capitals_string += subelement.find('name').text + ', '
#     print(capitals_string[:-2])

****
## XML exercise

Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [7]:
document = ET.parse( './mondial.xml' )

In [4]:
# #pseudocode
# for population in populations:
#     max_year -> max_population

## 1

In [17]:
import pandas as pd

inf_data = {}
for element in document.iterfind('country'):
    this_element= {}
    this_element["infant_mortality"] = element.findtext('infant_mortality')
    inf_data[element.findtext('name')] = this_element
    
inf_data_pd = pd.DataFrame(inf_data).transpose()
inf_data_pd.sort_values("infant_mortality")[:10]

                     infant_mortality
Monaco                           1.81
Romania                         10.16
Fiji                             10.2
Brunei                          10.48
Grenada                          10.5
Mauritius                       10.59
Panama                           10.7
Seychelles                      10.77
United Arab Emirates            10.92
Barbados                        10.93

## 2

In [19]:
city_data = {}
for element in document.iterfind('country'):
    cities = element.findall('city')
    if len(cities) == 0:
        cities = element.findall("province/city")
    for subelement in cities:
        this_element= {}
        try:
            this_element["population"] = int(subelement.findall('population')[-1].text)
        except:
            pass
            #print element.findall('city')
            
    
        city_data[subelement.findtext('name')] = this_element
    
city_data_pd = pd.DataFrame(city_data).transpose()
city_data_pd.sort_values("population", ascending=False)[:10]

           population
Shanghai   22315474.0
Karachi    14916456.0
Lagos      13745000.0
Istanbul   13710512.0
Mumbai     12442373.0
Moskva     11979529.0
Beijing    11716620.0
Kinshasa   11575000.0
São Paulo  11152344.0
Lahore     11126285.0

## 3

In [21]:
rivers = {}
for element in document.iterfind('river'):
    try:
        rivers[element.findtext("name")] = {"length" : float(element.findtext("length")),
                                        "country" : element.attrib["country"]}
    except TypeError: #in case length is None
        pass
        #print element.findtext("length")
    
pd.DataFrame(rivers).transpose().sort_values("length", ascending=False).iloc[0]

length     6380
country      CN
Name: Yangtze, dtype: object

In [23]:
lakes = {}
for element in document.iterfind('lake'):
    try:
        lakes[element.findtext("name")] = {"area" : float(element.findtext("area")),
                                        "country" : element.attrib["country"]}
    except TypeError: #in case length is None
        pass
        #print element.findtext("length")
    
pd.DataFrame(lakes).transpose().sort_values("area", ascending=False).iloc[0]

area               386400
country    R AZ KAZ IR TM
Name: Caspian Sea, dtype: object

In [24]:
airports = {}
for element in document.iterfind('airport'):
    try:
        airports[element.findtext("name")] = {"elevation" : float(element.findtext("elevation")),
                                        "country" : element.attrib["country"]}
    except TypeError: #in case length is None
        pass
        #print element.findtext("length")
    
pd.DataFrame(airports).transpose().sort_values("elevation", ascending=False).iloc[0]

elevation    4063
country       BOL
Name: El Alto Intl, dtype: object